{% extends 'base.html.twig' %}

{% block title %}Edit Events{% endblock %}

{% block body %}
<div class="container" style="width: 80%; margin-bottom: 20px;">
    <h1 style="padding: 50px; text-align: center;">Edit Events</h1>

    {{ include('events/_form.html.twig', {'button_label': 'Update'}) }}


    <div class="d-flex flex-row-reverse" style="gap: 10px;" >
        {{ include ("events/_delete_form.html.twig")}}
        <a class="btn btn-primary" href="{{path('app_events_index')}}">Back to list</a>
    </div>


    </div>
{% endblock %}
